.menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
      
}

.menu li {
    display: inline-block; 
    border: 1px lightgrey solid;
    background-color: lightcyan;
    width: 180px;
}

.menu li a {
    display: block;
    background-image: url(../imagenes/flecha_inactiva.png);
    background-repeat: no-repeat;
    background-position: 3px center;
    color: lightgrey;
    background-color: lightcyan;
    padding: .2em 0 .2em 1.5em;
    text-decoration: none;
}

li a:hover {
    cursor: pointer;
    background-image: url(../imagenes/flecha_activa.png);
    background-color:cyan;
    color:white;
}