body/* Todos los elementos de la pagina */
{ 
    font: 1em/1.3 Arial, Helvetica, sans-serif; 
}
p/* Todos los parrafos de la pagina */
{ 
    color: #555; 
}
#primero p/* Todos los párafos contenidos en #primero */
{ 
    color: #336699; 
}
a/* Todos los enlaces la pagina */
{ 
    color: #CC3300; 
}
#primero em/* Los elementos "em" contenidos en #primero */
{ 
    background:#CC0066; 
    padding: .1em; 
}
.especial/* Todos los elementos "em" de clase "especial" en toda la pagina */
{ 
    background: #FFCC99; 
    border: 1px solid #FF9900; 
    padding: .1em; 
}
.normal span/* Elementos "span" contenidos en .normal */
{ 
    font-weight: bold; 
}