/* ===============================================================
No modificar estos estilos
================================================================== */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
li { 
    list-style: none; 
}
body {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
header, nav, aside, footer, section, .contenedor {
    border: 2px solid #777;
}
header{
    display:flex;
    justify-content: space-between;
}
main{
    display:flex;
}
.lateral1 { 
    width: 20%; 
}
.contenedor { 
    display:flex;
    width: 80%; 
}
section { 
    width: 80%; 
}
.lateral2 { 
    width: 20%; 
}
footer{
    display:flex;
    justify-content: space-between;
}
nav li { 
    display: inline; 
}
section article img { 
    float: left; 
    width: 100px;
}
/* ================================================================
Añade tus estilos aqui
================================================================== */

/* PARTE 1 */

header {
    padding: 1em;
}

nav {
    padding: .5em;
    margin-bottom: .5em;
}

footer {
    padding: .5em;
    margin-top: 1em;
}

.noticias, .publicidad, article {
    padding: .5em;
}

article, .noticias {
    margin-bottom: 1em;
}

img {
    margin: .5em;
}

.publicidad p {
    margin-top: 1em;
}

label {
    margin-right: 1em;
}

/* PARTE 2 */

header, nav, aside, footer, section, .contenedor {
    border: none;
}

nav {
    border-bottom: 1px #004C99 solid;
}

.noticias {
    border: 1px #C5C5C5 solid ;
}

.publicidad {
    border: 1px #CC6600 dashed;
}

.lateral2 {
    border: 1px #CC6600 solid;
}

footer {
    border-bottom: 1px #C5C5C5 solid;
    border-top: 1px #C5C5C5 solid;
}

/* PARTE 3 */

.noticias, footer {
    background-color: #CCCCCC;
}

.publicidad {
    background-color: #FFFF33;
}

.lateral2 h2 {
    background-color: #DB905C;
    padding: .2em;    
}

nav {
    background-color: darkblue;
}

header h1 {
    background-image: url("../imagenes/logo.gif");
    background-position:-10px -10px;
    background-repeat:no-repeat;
    line-height: 1.2em;
}

header h1 span {
    visibility:hidden;
}

/* PARTE 4 */

body {
    color: black;
    font: .9em/1.4em Arial;
}

section article h2 {
    color: #CC6600;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: .3em;
    word-spacing:.3em;
}

nav li {
    margin-right: 1em;
}

nav li a {
    color: white;
    font-size: 1.3em;
}

.lateral1 {
    font-size: .9em;
}

.fecha {
    color: #999;
    text-align: right;
    display: block;
}

.noticias h2 {
    color: #003366;
}

.publicidad {
    color: #555;
}

.publicidad a {
    color: #CC6600;
}

section article a {
    color: #CC6600;    
}

section article p {
    margin-top: .3em;
    margin-bottom: .3em;
    text-align: justify;
    line-height: 1.8em;
    text-indent: 2em;
}

.lateral2 h2 {
    color: #FFF;
    font-size: 1em;
}

footer {
    color: #555;
    font-size: .75em;
}

p::first-letter {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

nav li a {
    letter-spacing: .3em;
}


