body {
    display: flex;
    justify-content: center;
}

div {
    width: 135px;
    height: 155px;
    border: 5px red inset;
    padding: 20px;
    margin: 20px;
}

.caja1 {
    background: #23F url("../imagenes/reloj.png") no-repeat bottom left;
}

.caja2 {
    background: #F30 url("../imagenes/reloj.png") no-repeat right top;
}

.caja3 {
    background: #3F0 url("../imagenes/reloj.png") no-repeat 50% 50%;
}