.contenedor {
    display: flex;
    justify-content: center;
}

.recuadro1 {
    width:200px;
    margin: 40px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px grey;
    background-color: lightgrey;
}

.recuadro2 {
    width:200px;
    margin: 40px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: -10px -10px 20px grey;  
    background-color: olive;
}