h1 {
    text-align: center;
    text-shadow: -7px -7px 0px grey, 7px 7px 0px lightgrey;
}

div {
    border: 20px solid black;
    padding: 20px;
    margin: 10px;
    background-color: lightgrey;
}

div::first-letter {
    font-size: 3em;
}

.caja1 {
    border-image:url(../imagenes/bordes.png) 20 stretch;
}

.caja2 {
    border-image:url(../imagenes/bordes.png) 20 round;
}

.caja3 {
    border-image:url(../imagenes/bordes.png) 20 repeat;
}
